.container-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,100px);
    gap: 10px;
}

.item-grid{
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 100px;


}