.contenedor-flex{
    /*Flexbox*/
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.elemento-flex{
    width: 45%;
    height: 45%;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 350px;
}